<header>
  <div class="co-title">{{ "CookieBanner.options.title" | translate }}</div>
  <div class="co-description">{{ "CookieBanner.options.description" | translate }}</div>
</header>
<section class="cookieTables">
  <div class="cookieRowContainer" *ngIf="cookies_third_party.length">
    <div class="cr-title">
      <div>{{ "CookieBanner.options.vendor.thirdparty" | translate }}</div>
      <div (click)="accept_all(cookies_third_party)">{{ "CookieBanner.options.vendor.acceptAll" | translate }}</div>
    </div>
    <CookieOptionRow *ngFor="let cookie of cookies_third_party" [cookie]="cookie"></CookieOptionRow>
  </div>

  <div class="cookieRowContainer" *ngIf="cookies_other.length">
    <div class="cr-title">
      <div>{{ "CookieBanner.options.vendor.other" | translate }}</div>
      <div (click)="accept_all(cookies_other)">{{ "CookieBanner.options.vendor.acceptAll" | translate }}</div>
    </div>
    <CookieOptionRow *ngFor="let cookie of cookies_other" [cookie]="cookie"></CookieOptionRow>
  </div>

  <div class="cookieRowContainer" *ngIf="cookies_necessary.length">
    <div class="cr-title">
      <div>{{ "CookieBanner.options.vendor.necessary" | translate }}</div>
    </div>
    <CookieOptionRow *ngFor="let cookie of cookies_necessary" [cookie]="cookie"></CookieOptionRow>
  </div>
</section>
<footer>
  <button class="btnNonHighlight" (click)="emit_show_front()">{{ "CookieBanner.options.button.back" | translate }}</button>
  <button class="btnNonHighlight" (click)="reject_all()">{{ "CookieBanner.options.button.rejectAll" | translate }}</button>
  <button class="btnHighlight" (click)="emit_save()">{{ "CookieBanner.options.button.save" | translate }}</button>
</footer>