@import "./../../../styles/global.scss";
@import "./../../../styles/buttons.scss";

:host {
  display: block;
}

button {
  width: 100%;
  background: $highlight;
  color: $font_default;

  &:hover {
    background: darken($highlight, 20%);
  }
}
