<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jaylapp</title>
        <link rel="icon" type="image/png" href="/media/icon/favicon96.png" sizes="96x96">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{meta_description}">
        <meta name="theme-color" content="{meta_theme_color}">

        <link rel="manifest" href="/manifest.json">

        <style>{inline_css}</style>
        
        <script>{inline_js}</script>
        <script src="{js}" defer></script>

        {head_placeholder}
    </head>
    <body data-keep="true">
        {body_placeholder}
    </body>
</html>