@import "./global.scss";

.text {
  display: flex;
  justify-content: center;

.textContainer {
  display: block;
  max-width: 1280px;

  ul {
    list-style: none;
    li {
      h4 {
        font-size: 20px;
      }
    }
  }

  h4 {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    margin-top: $spacing * 2.5;
    color: $highlight;
    line-height: 24px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
  }
}
}