<header>{{ 'Account.navBar.entries.api' | translate }}</header>

<form class="purposeForm" (ngSubmit)="on_submit()" ngNativeValidate>
    <GeneralInput [maximum_length]="24" [required]="true" labelKey="Account.api.purpose" name="purpose"
                  placeholderKey="Account.api.typePurpose" type="text" [(value)]="purpose"
                  [formFailure]="formFailurePurpose"></GeneralInput>
    <DateInput [required]="true" labelKey="Account.api.expiration" name="exp_date" [(value)]="exp_date"
               [formFailure]="formFailureDate"></DateInput>
    <ConfirmButton labelKey="Account.api.generate" type="submit" [disabled]="disabledSubmit"></ConfirmButton>
</form>

<form *ngIf="tokenList.length > 0" class="tableContainer">
    <div class="tableRow tableHead">
        <div>{{ 'Account.api.token' | translate }}</div>
        <div>{{ 'Account.api.purpose' | translate }}</div>
        <div>{{ 'Account.api.action' | translate }}</div>
    </div>
    <div *ngFor="let token_pair of tokenList" class="tableRow">
        <div>{{ token_pair[0].token }}</div>
        <div>{{ token_pair[0].purpose }}</div>
        <div>
            <ConfirmButton labelKey="Account.api.remove" (clicked)="delete_token(token_pair)" [disabled]="token_pair[1]"></ConfirmButton>
        </div>
    </div>
</form>
