<header>{{ 'Account.navBar.entries.api' | translate }}</header>

<form class="purposeForm">
    <GeneralInput [maximum_length]="24" [required]="true" labelKey="Account.api.purpose" name="purpose"
                  placeholderKey="Account.api.typePurpose" type="text"></GeneralInput>
    <GeneralInput [required]="true" labelKey="Account.api.expiration" name="exp_date" type="date"></GeneralInput>
    <ConfirmButton labelKey="Account.api.generate"></ConfirmButton>
</form>

<form *ngIf="tokenList.length > 0" class="tableContainer">
    <div class="tableRow tableHead">
        <div>{{ 'Account.api.token' | translate }}</div>
        <div>{{ 'Account.api.purpose' | translate }}</div>
        <div>{{ 'Account.api.action' | translate }}</div>
    </div>
    <div *ngFor="let item of tokenList" class="tableRow">
        <div>{{ item[0] }}</div>
        <div>{{ item[1] }}</div>
        <div>
            <ConfirmButton labelKey="Account.api.remove"></ConfirmButton>
        </div>
    </div>
</form>
