<header>{{ 'Account.navBar.entries.password' | translate }}</header>

<form formValid (ngSubmit)="on_submit()" ngNativeValidate>
    <PasswordInput labelKey="Account.updatePassword.newPassword" name="password" [required]="true"
                   placeholderKey="Account.updatePassword.typePassword" [(value)]="password"
                   [formFailure]="formFailure"></PasswordInput>
    <ConfirmButton labelKey="Account.updatePassword.update" type="submit" [disabled]="disableSubmit"></ConfirmButton>
</form>
<BriefNote noteKey="Account.updatePassword.updateNote"></BriefNote>
