<header>{{ 'Account.navBar.entries.password' | translate }}</header>

<form>
    <PasswordInput labelKey="Account.updatePassword.newPassword" name="password"
                   placeholderKey="Account.updatePassword.typePassword"></PasswordInput>
    <PasswordInput labelKey="Account.updatePassword.confirmNewPassword"
                   name="confirm_password" placeholderKey="Account.updatePassword.typePassword"></PasswordInput>
    <ConfirmButton labelKey="Account.updatePassword.update"></ConfirmButton>
</form>
<BriefNote noteKey="Account.updatePassword.updateNote"></BriefNote>
