[Unit]
Description=Yajla backend application

[Service]
WorkingDirectory=/home/yajla/
ExecStart=backend
User=yajla
Type=simple
Restart=on-failure
RestartSec=10