<div class="centerContainer">
    <form formValid (ngSubmit)="onSubmit()" ngNativeValidate>
        <GeneralInput [(value)]="model.nickname" [required]="true" labelKey="SignUp.nickname" name="nickname"
                      placeholderKey="SignUp.typeNickname" type="text"
                      [formFailure]="formFailureNickname"></GeneralInput>
        <GeneralInput [(value)]="model.credentials.mail" [required]="true" labelKey="SignUp.mail" name="mail"
                      placeholderKey="SignUp.typeMail"
                      type="email" [formFailure]="formFailureMail"></GeneralInput>
        <PasswordInput [(value)]="model.credentials.password" labelKey="SignUp.password" name="password" [required]="true"
                       placeholderKey="SignUp.typePassword" [formFailure]="formFailurePassword"></PasswordInput>
        <ConfirmButton [disabled]="disableSubmit" labelKey="SignUp.signUp" type="submit"></ConfirmButton>
    </form>
</div>
